.contact-container {
    width: 100%;
    min-height: 37.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form, .contact-success, .contact-loading {
    width: 63.5%;
    background-color: var(--secondary-background);
    border-radius: 15px;
    min-height: 18rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.35rem;
}

.contact-loading {
    justify-content: center;
}

.contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.contact>button {
    width: 20%;
    background-color: var(--button);
    border: none;
    border-radius: 15px;
    color: #fff;
    height: 2rem;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
}

.contact>button:hover {
    background-color: var(--secondary-background);
    border: 2px solid var(--button);
    color: var(--button);
}

.form-input {
    width: 100%;
    display: flex;
}

.form-input>label {
    font-weight: bold;
}

.triple-form-input {
    width: 100%;
    display: flex;
}

.triple-form-input>.form-input:first-child, .triple-form-input>.form-input:nth-child(2) {
    margin-right: .5rem;
}

.triple-form-input>.form-input:nth-child(2), .triple-form-input>.form-input:last-child {
    margin-left: .5rem;
}

.form-input>input[type=text], .form-input>input[type=email], .contact-question>textarea {
    width: 100%;
    border: none;
    border-radius: 15px;
    margin-left: .5rem;
    font-family: 'Open Sans', sans-serif;
    padding-inline: .5rem;
}

.contact-question>textarea {
    height: 5rem;
    padding: .5rem;
    resize: none;
}

.triple-error-message {
    width: 100%;
    display: flex;
}

.triple-error-message>span {
    margin-right: 27%;
}

.triple-error-message>span:last-child {
    margin-right: 0;
}

.success-icon {
    filter: invert(99%) sepia(0%) saturate(5%) hue-rotate(134deg) brightness(102%) contrast(103%);
    margin-top: auto;
    margin-bottom: .5rem;
    width: 5rem;
}

.contact-success>p {
    margin-bottom: auto;
}

.contact-form>h2, .contact-success>h2 {
    color: #fff;
}

.divider {
    border-top: 2px solid #fff;
    border-radius: 15px;
    width: 100%;
    margin-top: .25rem;
}

@media only screen and (max-width: 1024px) {
    .contact-form, .contact-success {
        width: 85%;
    }
}

@media only screen and (max-width: 768px) {
    .triple-form-input {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        margin-bottom: 1.5rem;
    }
    .triple-form-input>.form-input:first-child, .triple-form-input>.form-input:nth-child(2), .triple-form-input>.form-input:last-child {
        margin-inline: 0;
    }
    .form-input>textarea {
        margin-bottom: 2rem;
    }
    .contact-form, .contact-success {
        min-height: 23.5rem;
    }
    .contact>button {
        width: 30%;
    }
}

@media only screen and (max-width: 425px) {
    .contact-form>h2 {
        font-size: 30px;
    }
    .contact>button {
        width: 45%;
    }
}